/* -----------------------------------------
	11. Global Mediaqueries
----------------------------------------- */
@include media-breakpoint-down(lg) {
	.site-socials {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	#footer {
		.site-bar {
			justify-content: center;
			flex-direction: column;
		}
	}

	.navigation > li > a {
		margin-right: 15px;
	}

	#masthead .navigation {
		display: none;
	}

	.mobile-nav-trigger {
		display: inline-block;
	}

	.sidebar {
		&.sidebar-right {
			border: none !important;

			.widget {
				padding: 30px 0;

			  &.widget-attention {
				margin-bottom: 30px;
			  }
			}
		}
	}

	.ci-instagram-lite li,
	.widget .instagram-pics li {
		width: 25%;
	}

	.slide .slide-content {
		min-width: 450px;
		padding: 25px;
	}

	.top-bar {

		&.mobile-empty {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	body {
		font-size: 18px;
	}

	.site-bar {
		.nav {
			.navigation > li {
				display: inline-block;
				float: none;

				a {
					margin: 0 8px;
				}
			}
		}
	}

	.slide {
		.slide-content {
			min-width: 100%;
			position: static;
			transform: none;
		}
	}

	#home-slider-ow {
		max-height: 100%;

		button {
			top: 28%;
		}
	}

  	.sidebar {
	  &.sidebar-right {
		.widget {
		  padding: 0 0 30px;
		}
	  }
	}

	.entry-title {
		padding: 0;
	}
}

@include media-breakpoint-down(xs) {
	.top-bar {
		justify-content: center;
		flex-direction: column;
	}

	.site-tools {
		.searchform {
			width: 100px;
		}
	}
}
